   <div class="main-content">
     <section class="signup">
       <button type="button" name="button"><a href="/users/new">Signup</a></button>
     </section>
     <section id="intro">
       <h2>BarterBay makes it easy to trade anything you want and find things you need!</h2>
     </section>
     <section id="featured">
       <aside class="sidebar-list">
         <% if @tags.any? %>
         <ul>
           <% @tags[0..3].each do |tag| %>
           <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
           <% end %>
           <% end %>
         </ul>
       </aside>
       <h2>Post things you have to trade of things you can do...</h2>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <h2>...and things you want in our marketplace.</h2>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
       <div class="featured-image head-two">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
     </section>
     <section class="signup">
       <h2>...and start trading!</h2>
       <button type="button" name="button"><a href="/users/new">Signup</a></button>
     </section>
   </div>
   <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
      <img src="img/logo.png" alt="Logo image">
    </div>
      <ul>
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>

      <div class="footer-secondary-links">
        <ul>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
            </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>

  </footer>
</div>
