
<input type="checkbox" id="sidebar-toggler">
<div class="wrapper">
 <label for="sidebar-toggler" class="toggle">☰</label>
 <div class="all-content">
   <nav>
     <img src="img/logo.png" alt="" />
     <h1>Bazaar</h1>
     <div class="nav-links">
       <a href="/users/new">Signup</a>
       <a href="#">Browse Market</a>
       <a href="#">Login</a>
     </div>
   </nav>
   <header class="main">
     <h1>WELCOME!</h1>
   </header>
   <div class="main-content">
     <section class="signup">
       <button type="button" name="button">Sign Up!</button>
     </section>
     <section id="intro">
       <h2>BarterBay makes it easy to trade anything you want and find things you need!</h2>
     </section>
     <section id="featured">
       <aside class="sidebar-list">
         <% if @tags.any? %>
         <ul>
           <% @tags[0..3].each do |tag| %>
           <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
           <% end %>
           <% end %>
         </ul>
       </aside>
       <h2>Post things you have to trade of things you can do...</h2>
       <div class="featured-image main">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <div class="featured-image main">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <div class="featured-image main">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <div class="featured-image main">
         <div class="overlay">
           <p>product name</p>
         </div>
       </div>
       <h2>...and things you want in our marketplace.</h2>
       <div class="featured-image main">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
       <div class="featured-image main">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
       <div class="featured-image main">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
       <div class="featured-image main">
         <div class="overlay">
           <p>user name</p>
         </div>
       </div>
     </section>
     <section class="signup">
       <h2>...and start trading!</h2>
       <button type="button" name="button">Sign Up!</button>
     </section>
   </div>
   <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
      <img src="img/logo.png" alt="Logo image">
    </div>
      <ul>
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>

      <div class="footer-secondary-links">
        <ul>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
            </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>
      <form class="" action="/users/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id= "password">
        <button type="submit" name="button">Login</button>
        <p>Don't have an Account? Create one <a href="/users/new">here</a></p>
      </form>
  </footer>
 <div class="sidebar">
   <ul>
     <li><a href="#">Browse Market</a></li>
     <li><a href="/users/new">Create account</a></li>
     <li><a href="#">Login</a></li>
   </ul>
 </div>
</div>
</div>
