<header class="main head-one">
</header>
   <div class="main-content">
     <section class="signup">
       <button type="button" name="button"><a href="/users/new">Signup</a></button>
     </section>
     <section id="intro">
       <h2>BarterBay makes it easy to trade anything you want and find things you need!</h2>
     </section>
     <section id="featured">
       <aside class="sidebar-list">
         <% if @tags.any? %>
         <ul>
           <% @tags[0..3].each do |tag| %>
           <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
           <% end %>
           <% end %>
         </ul>
       </aside>
       <h2>Post things you have to trade of things you can do...</h2>
       <div class="featured-image head-four">
         <div class="overlay">
           <p>Cooking Lessons</p>
         </div>
       </div>
       <div class="featured-image head-five">
         <div class="overlay">
           <p>Custom Bike Building</p>
         </div>
       </div>
       <div class="featured-image head-six">
         <div class="overlay">
           <p>Lovely knit pants</p>
         </div>
       </div>
       <div class="featured-image head-seven">
         <div class="overlay">
           <p>Custom Cabinets</p>
         </div>
       </div>
       <h2>...and things you want in our marketplace.</h2>
       <div class="featured-image head-eight">
         <div class="overlay">
           <p>Help with your garden</p>
         </div>
       </div>
       <div class="featured-image head-nine">
         <div class="overlay">
           <p>Cookie Traps</p>
         </div>
       </div>
       <div class="featured-image head-ten">
         <div class="overlay">
           <p>Boxing lessons</p>
         </div>
       </div>
       <div class="featured-image head-eleven">
         <div class="overlay">
           <p>Tambourine Lessons</p>
         </div>
       </div>
     </section>
     <section class="signup">
       <h2>...and start trading!</h2>
       <button type="button" name="button"><a href="/users/new">Signup</a></button>
     </section>
   </div>
   <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
      <img src="img/logo.png" alt="Logo image">
    </div>
      <ul>
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>

      <div class="footer-secondary-links">
        <ul>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
            </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>
      <form class="" action="/users/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit" name="button">Login</button>
        <p>Don't have an Account? Create one <a href="/users/new">here</a></p>
      </form>
  </footer>
</div>
