<header class="main head-one">
</header>
   <div class="main-content">
     <section class="signup">
       <button type="button" name="button"><a href="/users/new">Sign up</a></button>
     </section>
     <section id="intro">
       <h2>Trade skills you have for services you need!</h2>
     </section>
     <section id="featured">
       <aside class="sidebar-list">
         <% if @tags.any? %>
         <ul>
           <% @tags[0..3].each do |tag| %>
           <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
           <% end %>
           <% end %>
         </ul>
       </aside>
       <h2>Post skills you have...</h2>
       <div class="featured-image head-four">
         <a href="/user/profile/27"><div class="overlay">
           <p>Cooking Lessons</p>
         </div></a>
       </div>
       <div class="featured-image head-five">
         <a href="/user/profile/25"><div class="overlay">
           <p>Custom Bike Building</p>
         </div></a>
       </div>
       <div class="featured-image head-six">
         <a href="/user/profile/24"><div class="overlay">
           <p>Lovely knit pants</p>
         </div></a>
       </div>
       <div class="featured-image head-seven">
         <a href="/user/profile/25"><div class="overlay">
           <p>Custom Cabinets</p>
         </div></a>
       </div>
       <h2>...and trade for things that you want.</h2>
       <div class="featured-image head-eight">
         <a href="/user/profile/27"><div class="overlay">
           <p>Help with your garden</p>
         </div></a>
       </div>
       <div class="featured-image head-nine">
         <a href="/user/profile/23"><div class="overlay">
           <p>Cookie Traps</p>
         </div></a>
       </div>
       <div class="featured-image head-ten">
         <a href="/user/profile/26"><div class="overlay">
           <p>Boxing lessons</p>
         </div></a>
       </div>
       <div class="featured-image head-eleven">
         <a href="/user/profile/26"><div class="overlay">
           <p>Tambourine Lessons</p>
         </div></a>
       </div>
     </section>
     <section class="signup">
       <h2>Get started</h2>
       <button type="button" name="button"><a href="/users/new">Sign Up</a></button>
     </section>
   </div>
   <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
      <a href="/"><img src="/img/logo.png" alt="Logo image"></a>
    </div>
      <ul>
        <!-- <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li> -->
      </ul>
      <div class="footer-secondary-links">
        <ul>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
            </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>
  </footer>
