<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/scripts.js" type="text/javascript"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles_back.css" type="text/css">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <title>Barter Bazaar</title>
  </head>
  <body>
    <input type="checkbox" id="sidebar-toggler">
    <div class="wrapper">
     <label for="sidebar-toggler" class="toggle">☰</label>
     <div class="all-content">
       <nav>
         <img src="../img/logo.png" alt="tent" />
         <h1><a href="/">Bazaar</a></h1>
         <div class="nav-links">
           <a href="/users/new">Signup</a>
           <a href="/tags">Browse Market</a>
           <a id="login-link" href="#">Login</a>
         </div>
       </nav>
       <form class="login-form" action="/users/login" method="post">
         <div class="login-form-content">
           <label for="email">Email:</label>
           <input type="text" name="email" id="email">
           <label for="password">Password:</label>
           <input type="password" name="password" id="password">
           <button type="submit" name="button">Login</button>
           <p>Don't have an Account? Create one <a href="/users/new">here</a></p>
         </div>

       </form>
       <header class="head-two form-header">
       </header>
      <%= yield %>
      <div class="sidebar">
        <ul>
          <li><a href="#">Browse Market</a></li>
          <li><a href="/users/new">Create account</a></li>
          <li><a href="#">Login</a></li>
            <ul>

            </ul>
        </ul>
      </div>
    </div>
  </body>
</html>
