<h1>SKILLS PAGE</h1>
<% if @skills.any? %>
  <ul>
    <% @skills.each do |skill| %>
    <li><a href="/user/profile/<%=skill.user.id %>"><%= skill.title %></a><br>
    <%= skill.description %></li>
    <% end %>
  </ul>
<% end %>
