<h4>For security purposes, please enter your password to propose a trade</h4>

<form class="" action="/trades/new" method="get">
  <input type="hidden" name="skill_id" value="<%= @skill_wanted_id %>">
  <label for="user_password">Password:</label>
  <input type="password" name="user_password" id="user_password">
  <button type="submit">Submit</button>
</form>
