
  <h3>Oops! Please fix these errors:</h3>
  <ul>
    <% @user.errors().full_messages().each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <p><a href="/user/new">Try Again</a></p>
