html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.head-one {
  background-image: url(../img/market.jpg); }

.head-two {
  background-image: url(../img/street-market.jpeg); }

.head-three {
  background-image: url(../img/hands.jpg); }

.head-four {
  background-image: url(../img/food.jpg); }

.head-five {
  background-image: url(../img/bike.jpg); }

.head-six {
  background-image: url(../img/knitting.jpg); }

.head-seven {
  background-image: url(../img/woodworking.jpg); }

.head-eight {
  background-image: url(../img/gardener.jpg); }

.head-nine {
  background-image: url(../img/baking.jpg); }

.head-ten {
  background-image: url(../img/boxing.jpg); }

.head-eleven {
  background-image: url(../img/tambourine.jpg); }

.sidebar-list ul, .sidebar ul {
  display: flex;
  padding: 0; }
  .sidebar-list ul li, .sidebar ul li {
    list-style-type: none; }
    .sidebar-list ul li a, .sidebar ul li a {
      text-decoration: none;
      font-size: 1.1em; }
      .sidebar-list ul li a:hover, .sidebar ul li a:hover {
        color: #8e1235; }

.signup button
button, .signup-form button
button, .edit-info button
button, #trades form button
button, .admin
button {
  color: white;
  background-color: #001a54;
  border: 2px solid #001a54;
  border-radius: 3px;
  text-align: center;
  width: 150px;
  height: 40px; }

.edit-info .profile-form
textarea, .edit-info .skill-form input
textarea, .edit-info .skill-form textarea
textarea {
  width: 100%; }

.profile-row-one ul li
.tag-name, .profile-row-one .interest ul
.tag-name, .edit .list-of-skills ul li
.tag-name, .edit-info .column-two ul li
.tag-name {
  font-size: 1.7rem;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
  padding: 2px 0; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

body {
  background-color: #fafdf9;
  color: #1c3873;
  height: 100%; }

.all-content {
  position: relative;
  z-index: 0;
  transition: all .3s linear; }

.main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5% auto; }
  @media screen and (min-width: 700px) {
    .main-content {
      flex-direction: row;
      flex-wrap: wrap; } }

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .signup button:hover {
    color: #001a54;
    background-color: white; }

#intro {
  display: flex;
  margin: 5% auto;
  align-items: center; }
  @media screen and (min-width: 700px) {
    #intro h2 {
      font-size: 3em;
      text-align: center; } }

.sidebar-list {
  width: 100%; }
  .sidebar-list ul {
    justify-content: space-between;
    flex-wrap: wrap;
    transition: transform 2s ease-in-out; }
    .sidebar-list ul li {
      border: 2px solid #610c24;
      border-radius: 4px;
      padding: 5px 20px;
      margin-bottom: 5px; }
      @media screen and (min-width: 700px) {
        .sidebar-list ul li:hover {
          transform: scale(1.1); } }
    .sidebar-list ul a {
      color: #610c24; }

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 45vh;
  background-position: center;
  background-size: cover; }
  header h1 {
    color: #fafdf9;
    font-size: 4em;
    text-decoration: overline;
    text-shadow: 3px 0 0 black; }

.toggle {
  text-decoration: none;
  font-size: 2em;
  position: fixed;
  top: 10px;
  right: 15px;
  transition: all .3s linear;
  z-index: 1;
  color: #610c24; }
  @media screen and (min-width: 700px) {
    .toggle {
      display: none; } }

.sidebar {
  z-index: 0;
  position: fixed;
  top: 0px;
  right: -190px;
  bottom: 0px;
  transition: all .3s linear;
  width: 180px;
  background: #001a54; }
  .sidebar ul {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 10px 0 10px; }
    .sidebar ul li {
      margin-top: 10%;
      padding: 5px 0 5px 30px; }
    .sidebar ul a {
      color: #fafdf9; }
      .sidebar ul a:hover {
        border-bottom: 1px solid #8e1235; }
  @media screen and (min-width: 700px) {
    .sidebar {
      display: none; } }

#sidebar-toggler {
  display: none; }
  #sidebar-toggler:checked + .wrapper .sidebar {
    right: 0px; }
  #sidebar-toggler:checked + .wrapper .toggle {
    right: 190px; }
  #sidebar-toggler:checked + .wrapper .all-content {
    padding-right: 100px; }

nav {
  display: none; }
  nav .nav-links {
    display: none; }
  @media screen and (min-width: 700px) {
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      padding: 2% 2%; }
      nav img {
        height: 5rem; }
      nav .nav-links {
        display: flex;
        width: 40%;
        justify-content: space-between; }
        nav .nav-links a {
          text-decoration: none;
          color: #001a54;
          font-size: 1.1em;
          margin: 1% 0; }
          nav .nav-links a:hover {
            border-bottom: 1px solid #610c24; } }
  @media screen and (min-width: 1024px) {
    nav {
      flex-direction: row;
      justify-content: space-between;
      height: 8vh;
      background-color: #1c3873; }
      nav h1 {
        margin-right: auto;
        padding-left: 10px;
        color: #fafdf9; }
      nav .nav-links {
        width: 30%; }
        nav .nav-links a {
          color: white; } }

.footer-2 {
  background: #1c3873;
  display: inline-block;
  padding: 1.5em;
  width: 100%; }
  .footer-2 .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 2.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-bottom: 0;
        margin-left: 1em; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: 0.8em; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin: 1em 0 0 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      line-height: 0;
      margin: 0;
      padding-right: 0.7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

#featured {
  display: flex;
  flex-direction: column;
  text-align: center; }
  #featured h2 {
    width: 100%;
    margin: 2% auto; }
  @media screen and (min-width: 700px) {
    #featured {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }

.featured-image {
  width: 100%;
  height: 300px;
  margin-bottom: 15%;
  position: relative;
  background-position: center;
  background-size: cover; }
  .featured-image .overlay {
    position: absolute;
    left: 10px;
    bottom: -45px; }
  @media screen and (min-width: 700px) {
    .featured-image {
      width: 45%;
      margin-left: 5%;
      overflow: hidden;
      margin-bottom: 5%; }
      .featured-image .overlay {
        top: -300px;
        left: 0;
        width: 100%;
        height: 300px;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        transition: transform .2s linear; }
      .featured-image:hover .overlay {
        display: flex;
        transform: translateY(300px); }
      .featured-image .overlay {
        align-items: center;
        justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .featured-image {
      width: 20%;
      height: 250px;
      margin-left: 5%; } }

.form-intro {
  padding: 5% 20%; }

.form-content {
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px; }
  @media screen and (min-width: 700px) {
    .form-content {
      flex-direction: row; } }

.signup-form {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #001a54;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 5px; }
  .signup-form input {
    width: 300px;
    height: 30px;
    margin: 0 auto; }
  .signup-form label, .signup-form h4 {
    margin-top: 8px;
    margin-left: 25px; }
  .signup-form button {
    margin-top: 15px;
    margin-right: 25px;
    align-self: flex-end; }

.error-message {
  padding: 0;
  height: 250px;
  background-color: rgba(97, 12, 36, 0.1);
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px; }
  .error-message ul, .error-message h3 {
    margin: 10px; }

.form-header {
  height: 30vh; }

nav h1 a {
  color: #1c3873; }
  nav h1 a:hover {
    text-decoration: none; }
  @media screen and (min-width: 1024px) {
    nav h1 a {
      color: white; } }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

body {
  background-color: #efeff4; }

.profile-content {
  width: 95vw;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  background-color: #efeff4;
  padding: 2%; }
  .profile-content .interest, .profile-content .list-of-skills, .profile-content .edit-info, .profile-content .skill-form {
    margin: 2% 0; }
    .profile-content .interest h4, .profile-content .list-of-skills h4, .profile-content .edit-info h4, .profile-content .skill-form h4 {
      font-size: 2.5rem; }
    .profile-content .interest p, .profile-content .list-of-skills p, .profile-content .edit-info p, .profile-content .skill-form p {
      font-size: 1.9rem; }
  @media screen and (min-width: 700px) {
    .profile-content {
      max-width: 60vw;
      margin: 5% auto; } }
  @media screen and (min-width: 1024px) {
    .profile-content {
      max-width: 70vw;
      margin: 5% auto; } }

@media screen and (min-width: 700px) {
  flex-direction: row;
  width: 700px; }
.avatar {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .avatar hr {
    width: 100%; }
  .avatar a {
    border: 1px solid #610c24;
    background-color: white;
    border-radius: 4px;
    padding: 3px 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    color: #610c24;
    display: block;
    width: 13rem;
    text-align: center;
    align-self: center; }
    @media screen and (min-width: 700px) {
      .avatar a {
        align-self: flex-start; }
        .avatar a:hover {
          transform: scale(1.1);
          text-decoration: none; } }
  .avatar p {
    width: 40%; }
  .avatar img {
    width: 250px;
    height: 250px;
    margin: 0 auto; }
    @media screen and (min-width: 700px) {
      .avatar img {
        margin: 0; } }
  .avatar h4 {
    margin-right: 138px; }
  .avatar .stars {
    display: flex;
    align-items: center; }
    .avatar .stars h4 {
      margin-right: 10px; }

.profile-row-one {
  border-top: 1px solid #666666; }
  .profile-row-one h4 {
    margin-bottom: 5%; }
  .profile-row-one ul {
    display: flex;
    flex-direction: column; }
    .profile-row-one ul li {
      list-style-type: none;
      font-size: 2.5rem;
      width: 140px; }
  @media screen and (min-width: 1024px) {
    .profile-row-one .interest {
      margin-left: 10%; } }
  @media screen and (min-width: 1024px) {
    .profile-row-one {
      display: flex;
      justify-content: space-between;
      max-width: 1000px; } }

.edit-info .profile-form {
  width: 100%;
  margin: 2% auto;
  background-color: none; }

.edit p {
  width: 90%; }
.edit h4 {
  margin-bottom: 5%; }
.edit .list-of-skills ul {
  display: flex;
  flex-direction: column; }
  .edit .list-of-skills ul li {
    list-style-type: none;
    font-size: 2.5rem;
    width: 140px; }
@media screen and (min-width: 700px) {
  .edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .edit .right-column {
      margin-left: 10%; }
      .edit .right-column h4 {
        font-size: 2.5rem; } }
@media screen and (min-width: 1024px) {
  .edit {
    max-width: 50%; } }

.edit-info {
  border-top: 1px solid #666666; }
  .edit-info button {
    align-self: flex-end;
    margin-top: 1rem; }
  .edit-info .profile-form {
    display: flex;
    flex-direction: column; }
  .edit-info .skill-form {
    display: flex;
    flex-direction: column; }
    .edit-info .skill-form #skill_title {
      width: 50%; }
    .edit-info .skill-form label:nth-of-type(2) {
      display: block; }
    .edit-info .skill-form label {
      margin: .5rem;
      font-size: 2.5rem;
      font-weight: 500; }
    .edit-info .skill-form input, .edit-info .skill-form textarea {
      margin-top: 5px; }
  .edit-info .row-two {
    border-top: 1px solid #666666; }
  .edit-info .add-tag-form {
    display: flex;
    flex-wrap: wrap; }
    .edit-info .add-tag-form span {
      width: 100%;
      margin: 5% 0; }
    .edit-info .add-tag-form .tag {
      display: flex;
      width: 100%;
      justify-content: flex-end; }
  .edit-info .delete-form {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .edit-info .delete-form .form-button {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .edit-info .column-two ul {
    display: flex;
    flex-direction: column; }
    .edit-info .column-two ul li {
      list-style-type: none;
      font-size: 1.5rem;
      width: 140px; }

@media screen and (min-width: 1024px) {
  display: flex;
  flex-direction: column;
  .row-one {
    display: flex; }
    .row-one .skill-form {
      margin-left: 5%;
      width: 50%; }
    .row-one .profile-form {
      width: 50%; }

  .row-two {
    margin-top: 5%;
    display: flex; }
    .row-two .column-one {
      display: flex;
      flex-direction: column;
      margin-right: 2.5%;
      width: 50%; }
    .row-two .column-two {
      display: flex;
      flex-direction: column;
      margin-left: 2.5%;
      width: 50%; } }
.add-user-interest, .delete-form {
  display: flex;
  flex-direction: column; }
  .add-user-interest label, .delete-form label {
    font-size: 2.5rem; }
  .add-user-interest .form-button, .delete-form .form-button {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.user {
  margin-bottom: 5%; }

.right-column h4 {
  margin: 0; }

#trades {
  margin-top: 5%;
  border-top: 1px solid #666666; }
  #trades form {
    margin: 10px; }

h3 {
  padding-bottom: 5%;
  border-bottom: 1px solid #666666; }

.admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .admin .tags-created {
    padding-right: 10%; }
    .admin .tags-created h4 {
      font-size: 2.5rem; }
    .admin .tags-created input {
      margin: 2% auto;
      width: 60%;
      margin-right: 40%; }
    .admin .tags-created button {
      margin-left: 2px;
      font-size: 1.9rem; }
    .admin .tags-created ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 30vh;
      padding-left: 0; }
      @media screen and (min-width: 700px) {
        .admin .tags-created ul {
          height: 40vh; } }
      @media screen and (min-width: 1024px) {
        .admin .tags-created ul {
          height: 100%; } }
      .admin .tags-created ul .tag-name {
        list-style-type: none;
        width: 140px;
        font-size: 1.7rem;
        background-color: white;
        border-radius: 2px;
        text-align: center;
        margin-bottom: 10px;
        padding: 5px 0;
        margin-left: 2px; }
  .admin .delete {
    border-top: 1px solid #666666;
    display: flex;
    flex-direction: column; }
    .admin .delete h4 {
      font-size: 2.5rem; }
    .admin .delete label {
      margin-right: 5%;
      font-size: 2rem; }
    .admin .delete button {
      margin-right: 50%;
      margin-top: 3%; }
  @media screen and (min-width: 1024px) {
    .admin {
      flex-direction: row;
      justify-content: space-between; }
      .admin .delete {
        border-top: none; } }

/*# sourceMappingURL=master.css.map */
