h3 {
  padding-bottom: 5%;
  border-bottom: 1px solid lighten($color-two, 40%);
}

.admin {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %buttons;
  h4 {
    font-size: $medium-font;
  }
  input {
    margin: 2% auto;
  }
  button {
    margin-left: 2%;
    font-size: 1.9rem;
  }
  .tags-created {
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 50vh;
        .tag-name {
          list-style-type: none;
          width: 140px;
          font-size: 1.7rem;
          background-color: $color-three;
          border-radius: 2px;
          text-align: center;
          margin-bottom: 10px;
          padding: 5px 0;
        }
      }
    }
    .delete {
      border-top: 1px solid lighten($color-two, 40%);
    }


}
