h3 {
  padding-bottom: 5%;
  border-bottom: 1px solid lighten($color-two, 40%);
}
.admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %buttons;
  .tags-created {
    padding-right: 10%;
    h4 {
      font-size: $medium-font;
    }
    input {
      margin: 2% auto;
      width: 60%;
      margin-right: 40%;
    }
    button {
      margin-left: 2px;
      font-size: 1.9rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 30vh;
      padding-left: 0;
      @media screen and (min-width: $mediumbreak) {
        height: 40vh;
      }
      @media screen and (min-width: $largebreak) {
        height: 100%;
      }
        .tag-name {
          list-style-type: none;
          width: 140px;
          font-size: 1.7rem;
          background-color: $color-three;
          border-radius: 2px;
          text-align: center;
          margin-bottom: 10px;
          padding: 5px 0;
          margin-left: 2px;
        }
      }
    }
    .delete {
      border-top: 1px solid lighten($color-two, 40%);
      display: flex;
      flex-direction: column;
      h4 {
        font-size: $medium-font;
      }
      label {
        margin-right: 5%;
        font-size: 2rem;
      }
      button {
        margin-right: 50%;
        margin-top: 3%;
      }
    }
    @media screen and (min-width: $largebreak) {
        flex-direction: row;
        justify-content: space-between;
        .delete {
          border-top: none;

        }
      }


}
