h1 {
  text-align: center;
  margin-top: 20%;
}
.browse-content {
  display: flex;
  margin-top: 5%;
  .browse-tag {
    border:2px solid $color-eight;
    background-color: $color-three;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    color: $color-eight;
    display: block;
    width: 13rem;
    text-align: center;
    align-self: center;
    a {
      color: $color-eight;
      text-decoration: none;
    }
    @media screen and (min-width: $mediumbreak) {
      align-self: flex-start;
      margin-left: 5px;
      margin-right: 0px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

h1 {
  margin-top: 2vh;
}

h1, ul, h5 {
  margin-left: 1rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.pic-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $mediumbreak) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 56rem;
  }
  @media screen and (min-width: $xLargeBreak) {
    width: 125rem;
  }
}
