
  .edit {

    p {
      width: 90%;
    }
    h4 {
      margin-bottom: 5%;
    }
    .list-of-skills {
      ul {
        display: flex;
        flex-direction: column;
        li {
          list-style-type: none;
          font-size: 2.5rem;
          width: 140px;
          @extend %tags;
        }
      }
    }
    @media screen and (min-width: $mediumbreak) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .right-column {
      margin-left: 10%;
    h4 {
      font-size: $medium-font;
    }
    }
  }
  // @media screen and (min-width: $largebreak) {
  //   max-width: 50%;
  // }
}


.edit-info {
  border-top: 1px solid lighten($color-two, 40%);
    @extend %buttons;
  button {
    align-self: flex-end;
    margin-top: 1rem;
    @extend %buttons;
  }
  .profile-form {
    display: flex;
    flex-direction: column;
    @extend %textarea;
  }

  .skill-form {
    display: flex;
    flex-direction: column;
    #skill_title {
      width: 50%;
    }
    label:nth-of-type(2) {
    display: block;
    }
    label {
      margin: .5rem;
      font-size: 2.5rem;
      font-weight: 500;
    }

    input, textarea {
      margin-top: 5px;
      @extend %textarea;
    }
  }
  .row-two {
    border-top: 1px solid lighten($color-two, 40%);
  }
  .add-tag-form {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    span {
      width: 100%;
      margin: 5% 0;
    }
    .tag {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }
  .delete-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .form-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .column-two {

    ul {
      display: flex;
      flex-direction: column;
      @extend %tags;
      li {
        list-style-type: none;
        font-size: 1.5rem;
        width: 140px;
          }
        }
      }
  }
  @media screen and (min-width: $largebreak) {

    .row-one {
      width: 100%;
      display: flex;
      flex-direction: row;
      .skill-form {
        margin: 0;
        margin-left: 5%;
      }
      .profile-form {
        margin: 0;
        margin-right: 0;
      }

    }
    .row-two {
      margin-top: 5%;
      display: flex;
      .column-one {
        display: flex;
        flex-direction: column;
        margin-right: 2.5%;
        width: 50%;
      }
      .column-two {
        display: flex;
        flex-direction: column;
        margin-left: 2.5%;
        width: 50%;
        }
    }
  }


.add-user-interest, .delete-form {
  display: flex;
  flex-direction: column;
  label {
    font-size: $medium-font
  }
  .form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
