.head-three {
  background-size: auto;
  background-repeat: no-repeat;
  background-color: white;
}

.form-intro {
  padding: 5% 20%;
}

.form-content {
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
  @media screen and (min-width: $mediumbreak) {
    flex-direction: row;
  }
}
.signup-form {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  // box-shadow: 10px 10px 5px #888888;
  border: 1px solid $color-one;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  input {
    width: 300px;
    height: 30px;
    margin: 0 auto;
  }
  label, h4 {
    margin-top: 8px;
    margin-left: 25px;
  }
  button {
    margin-top: 15px;
      margin-right: 25px;
    @extend %buttons;
    align-self: flex-end;
  }
}
.error-message {
  padding: 0;
  height: 250px;
  background-color: transparentize($color-eight, .9);
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;
  ul, h3 {
  margin: 10px;
}

}
.form-header {
  height: 30vh;
}
nav h1 a {
  color: $color-four;
  &:hover {
    text-decoration: none;
  }
  @media screen and (min-width:$largebreak) {
    color: $color-three;
  }
}

// .error-message {
//   background-color:
// }
