.toggle {
  text-decoration: none;
  font-size: 2em;
  position: fixed;
  top: 10px;
  right: 15px;
  transition: all .3s linear;
  z-index: 1;
  color: $color-eight;
  @media screen and (min-width: $mediumbreak) {
    display: none;
  }
}
.sidebar {
  z-index: 0;
  position: fixed;
  top: 0px;
  right: -190px;
  bottom: 0px;
  transition: all .3s linear;
  width: 180px;
  background: $color-one;
    @extend %lists;
    ul {
      display: flex;
      align-items: flex-end;;
      flex-direction: column;
      margin: 20px 10px 0 10px;
      li {
        margin-top: 10%;
        padding: 5px 0 5px 30px;
      }
      a {
        color: $color-nine;
        &:hover {
          border-bottom: 1px solid lighten($color-eight, 10%);
        }
      }
    }
  @media screen and (min-width: $mediumbreak) {
    display: none;
  }
}
#sidebar-toggler {
  display: none;
  &:checked + .wrapper {
    .sidebar {
      right: 0px;
    }
    .toggle {
      right: 190px;
    }
    .all-content {
      padding-right: 100px;
    }
  }
}

nav {
  display: none;
  position: relative;
  .nav-links {
    display: none;
  }
  @media screen and (min-width: $mediumbreak) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding: 2% 2%;
      & img {
        height: 5rem;
      }
      .nav-links {
        display: flex;
        width: 40%;
        // margin: 0 auto;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: $color-one;
          font-size: 1.1em;
          margin: 1% 0;
          &:hover {
            border-bottom: 1px solid $color-eight
          }
        }
      }
    }
    @media screen and (min-width: $largebreak) {
      flex-direction: row;
      justify-content: space-between;
      height: 8vh;
      background-color: $color-four;
      position: relative;
      h1 {
        margin-right: auto;
        padding-left: 10px;
        color: $color-nine;
        }
       .nav-links {
         width: 30%;
         a {
          color: $color-three;
          }
        }
    }
}

.login-form {
  position: absolute;
  top: 8vh;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 9rem;
  width: 55rem;
  border-radius: 2%;
  background-color: transparentize($color-four, .2);
  color: white;
  // display: none;
  input {
    margin: 0 .7rem .7rem .7rem;
  }
  button {
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
    width: 5rem;
    height: 3rem;
    color: $color-four;
  }
  a {
    color: $color-five;
  }
}
