.toggle {
  text-decoration: none;
  font-size: 2em;
  position: fixed;
  top: 10px;
  right: 15px;
  transition: all .3s linear;
  z-index: 1;
  color: $color-eight;
  @media screen and (min-width: $mediumbreak) {
    display: none;
  }
}
.sidebar {
  z-index: 0;
  position: fixed;
  top: 0px;
  right: -190px;
  bottom: 0px;
  transition: all .3s linear;
  width: 180px;
  background: $color-one;
    @extend %lists;
    ul {
      display: flex;
      align-items: flex-end;;
      flex-direction: column;
      margin: 20px 10px 0 10px;
      li {
        margin-top: 10%;
        padding: 5px 0 5px 30px;
      }
      a {
        color: $color-nine;
        &:hover {
          border-bottom: 1px solid lighten($color-eight, 10%);
        }
      }
    }
  @media screen and (min-width: $mediumbreak) {
    display: none;
  }
}
#sidebar-toggler {
  display: none;
  &:checked + .wrapper {
    .sidebar {
      right: 0px;
    }
    .toggle {
      right: 190px;
    }
    .all-content {
      padding-right: 100px;
    }
  }
}

nav {
  display: none;
  position: relative;
  .nav-links {
    display: none;
  }
  @media screen and (min-width: $mediumbreak) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding: 0 2%;
      & img {
        height: 5rem;
        margin-top: 2%;
      }
      .nav-links {
        display: flex;
        width: 40%;
        // margin: 0 auto;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: $color-one;
          font-size: 1.1em;
          margin: 1% 0;
          &:hover {
            border-bottom: 1px solid $color-eight
          }
        }
      }
    }
    @media screen and (min-width: $largebreak) {
      flex-direction: row;
      justify-content: space-between;
      height: 8vh;
      background-color: $color-four;
      position: relative;
      padding: 0% 2%;
      img {
        margin: 0;
      }
      h1 {
        margin-right: auto;
        padding-left: 10px;
        color: $color-nine;
        }
       .nav-links {
         width: 30%;
         a {
          color: $color-three;
          }
        }
    }
}

.login-form-side {
  color: $color-three;
  display: none;
  label, button, p {
    margin-top: .8rem;
  }
  button {
    background-color: $color-three;
    border: 2px solid $color-three;
    border-radius: 3px;
    width: 5rem;
    height: 3rem;
    color: $color-four;
  }
  p>a {
    color: $color-five;
  }
}

.login-form {
  display: none;
  @media screen and (min-width: $mediumbreak){
    height: 9rem;
    width: 55rem;
    border-radius: 2%;
    position: absolute;
    top: 199px;
    right: 18vw;
    background-color: transparentize(white, .2);
    color: $color-four;
    button {
      background-color: $color-four;
      border: 2px solid $color-four;
      border-radius: 3px;
      width: 5rem;
      height: 3rem;
      color: $color-three;
    }
    input {
      margin: 0 .7rem .7rem .7rem;
    }
    a {
      color: $color-five;
    }
    .login-form-content {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 9rem;
      width: 55rem;
    }
  }
  @media screen and (min-width: $largebreak) {
    top: 7.9vh;
    right: 1rem;
    height: 9rem;
    width: 55rem;
    background-color: transparentize($color-four, .2);
    color: $color-three;
    input {
      color: $color-four;
    }
    button {
      background-color: $color-three;
      border-color: $color-three;
      color: $color-four;
    }
    a {
      color: $color-five;
    }
  }
}
