.profile-content {
  width: 95vw;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  // background-color: lighten(#4b5564, 20%);
  padding: 2%;
  .skill-list, .interest, .list-of-skills, .edit-info, .skill-form {
    margin: 2% 0;

    h4 {
      font-size: $medium-font;
    }
    p {
      font-size: 1.9rem;
    }
    // a {
    //   border:2px solid $color-eight;
    //   border-radius: 4px;
    //   padding: 5px 20px;
    //   margin-bottom: 5px;
    //   color: $color-eight;
    //   display: block;
    //   width: 30rem;
    //   text-align: center;
    //   @media screen and (min-width: $mediumbreak) {
    //     &:hover {
    //       transform: scale(1.1);
    //     }
    //
    // //    }
    //  }
    }
    @media screen and (min-width: $mediumbreak) {
      max-width: 60vw;
      margin: 5% auto;
    }
    @media screen and (min-width:$largebreak) {
      max-width: 70vw;
      margin: 5% auto;
    }
  }

  @media screen and (min-width:$mediumbreak) {
    flex-direction: row;
    width: 700px;
  }
  .avatar {
    display: flex;
    flex-direction: column;
    width: 100%;
    hr {
      width: 100%;
    }
    a {
      border:1px solid $color-eight;
      border-radius: 4px;
      padding: 3px 4px;
      margin-bottom: 5px;
      margin-top: 5px;
      color: $color-eight;
      display: block;
      width: 13rem;
      text-align: center;
      align-self: center;
      @media screen and (min-width: $mediumbreak) {
        align-self: flex-start;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    p {
      // align-self: flex-end;
      // width: 50%;
      color: black;
    }
    img {
      width: 250px;
      height: 250px;
      margin: 0 auto;
        @media screen and (min-width:$mediumbreak) {
          margin: 0;
        }
    }
    h4 {
      margin-right: 138px;
    }
    .stars {
      display: flex;
      align-items: center;
      h4 {
        margin-right: 10px;
      }
    }
    // @media screen and (min-width:$mediumbreak) {
    //   align-items: flex-end;
    //
    //   }

  }
  .edit-info {
    .profile-form {
      width: 100%;
      margin: 5% auto;
      background-color: none;

    }
}
  @media screen and (min-width:$largebreak) {
    .profile-row-one {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
    }
  }
