.profile-content {
  width: 85vw;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  // background-color: lighten(#4b5564, 20%);
  padding: 2%;
  .skill-list, .interest, .edit-info {
    margin-top: 1rem;
    h4 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.9rem;
    }
    a {
      border:2px solid $color-eight;
      border-radius: 4px;
      padding: 5px 20px;
      margin-bottom: 5px;
      color: $color-eight;
      display: block;
      width: 16rem;
      text-align: center;
      @media screen and (min-width: $mediumbreak) {
        &:hover {
          transform: scale(1.1);
        }
       }
     }
    }
  }

  .edit-info {
    display: flex;
    flex-direction: column;
    button {
      align-self: flex-end;
      margin-top: 1rem;
      @extend %buttons;
    }
    .skill-form {
      display: flex;
      flex-direction: column;
      #skill_title {
        width: 50%;
      }
      label:nth-of-type(2) {
      display: block;
      }
      label {
        margin: .5rem;
        font-size: 2.5rem;
        font-weight: 500;
      }
      textarea {
        @extend %textarea;
      }
    }
    .add-tag-form {
      display: flex;
      align-items: center;
      button {
        width: 137px;
        order: -1;
      }

    }
  }

  @media screen and (min-width:$mediumbreak) {
    flex-direction: row;
    width: 700px;
  }
  .avatar {
    display: flex;
    flex-direction: column;
    width: 100%;
    hr {
      width: 100%;
    }
    p {
      align-self: flex-end;
      width: 50%;
      color: black;
    }
    img {
      width: 250px;
      height: 250px;
      margin: 0 auto;
        @media screen and (min-width:$mediumbreak) {
          margin: 0;
        }
    }
    h4 {
      margin-right: 138px;
    }
    .stars {
      display: flex;
      align-items: center;
      h4 {
        margin-right: 10px;
      }
    }
    @media screen and (min-width:$mediumbreak) {
      align-items: flex-end;

      }

  }
  .edit-info {
    .profile-form {
      width: 100%;
      margin: 5% auto;
      background-color: none;

    }

    // @media screen and (min-width:$mediumbreak) {
    //   order: -1;
    //
    // }
  }
