.security-form {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  .password-entry {
    margin-top: 1rem;
  }
  button {
    @extend %buttons;
    margin-left: 1rem;
  }
  @media screen and (min-width: $mediumbreak) {
    width: 60rem;
  }
}
