
.user {
  margin-bottom: 5%;
}
.right-column {
  h4 {
  margin: 0;
}
}
#trades {
  margin-top: 5%;
  border-top: 1px solid lighten($color-two, 40%);
  form {
    margin: 10px;
    button {
      @extend %buttons;
    }
  }
}
