
.user {
  display: flex;
  margin: 0 5%;

  h4 {
    font-size: $medium-font;

  }
  .left-column {
    @extend %buttons;
    img {
      margin: 10%;
      @media screen and (min-width:$mediumbreak) {
        margin: 0;    
      }
    }
    p {
      font-size: 1.9rem;
    }
  }
  .right-column {
    width: 50%;
    h5 {
      font-size: 1.9rem;
    }
    .skills {
      margin-top: 5%;
      @media screen and (min-width:$largebreak)  {
        border: .3px solid lighten($color-two, 40%);
      }
    }
      ul {
        display: flex;
        flex-direction: column;
        #description {
          font-size: 1.5rem;
          margin-left: 10px;

        }
        li {
          list-style-type: none;
          font-size: 2.3rem;
          width: 140px;
        }
        @extend %tags;
      }
    h4 {
      margin: 0;
    }
  }
}
#trades {
  margin-top: 5%;
  border-top: 1px solid lighten($color-two, 40%);
  form {
    margin: 10px;

      @extend %buttons;

  }
}
