header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60vh;
  background-position: center;
  background-size: cover;
  h1 {
    color: $color-nine;
    font-size: 4em;
    text-decoration: overline;
    text-shadow: 3px 0 0 $color-two;
  }
  @media screen and (min-width: $mediumbreak) {
    height: 75vh;
    h1 {
      font-size: 6em;
    }
  }
}
