@each $image-name, $image-value in $images {
  .#{$image-name} {
    background-image: #{$image-value};
  }
}


%lists {
  ul {
    display: flex;
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        font-size: 1.1em;
        &:hover {
          color: lighten($color-eight, 10%);
        }
      }
    }

  }
}
%buttons
button {
  color: $color-three;
  background-color: $color-one;
  border: 2px solid $color-one;
  border-radius: 3px;
  text-align: center;
  width: 150px;
  height: 40px;
}

%textarea
textarea {
  width: 100%;
}
%tags
.tag-name {
  font-size: 1.7rem;
  background-color: $color-three;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
  padding: 2px 0;
}
