$mediumbreak: 700px;
$largebreak: 1024px;

$medium-font: 2.5rem;

$color-one: #001a54;
$color-two: black;
$color-three: white;
$color-four: #1c3873;
$color-five: #b78f44;
$color-six: #984329;
$color-seven: #542e1f;
$color-eight: #610c24;
$color-nine: #fafdf9;
$color-ten: #4b5564;




$img-head-one: url(../img/market.jpg);
$img-head-two: url(../img/street-market.jpeg);
$img-head-three: url(../img/hands.jpg);


$images: (
  head-one: $img-head-one,
  head-two: $img-head-two,
  head-three: $img-head-three
);
