$mediumbreak: 700px;
$largebreak: 1024px;

$medium-font: 2.5rem;

$color-one: #001a54;
$color-two: black;
$color-three: white;
$color-four: #1c3873;
$color-five: #b78f44;
$color-six: #984329;
$color-seven: #542e1f;
$color-eight: #610c24;
$color-nine: #fafdf9;
$color-ten: #4b5564;
$color-eleven: #efeff4;




$img-head-one: url(../img/market.jpg);
$img-head-two: url(../img/street-market.jpeg);
$img-head-three: url(../img/hands.jpg);
$img-head-four: url(../img/food.jpg);
$img-head-five: url(../img/bike.jpg);
$img-head-six: url(../img/knitting.jpg);
$img-head-seven: url(../img/woodworking.jpg);
$img-head-eight: url(../img/gardener.jpg);
$img-head-nine: url(../img/baking.jpg);
$img-head-ten: url(../img/boxing.jpg);
$img-head-eleven: url(../img/tambourine.jpg);

$img-head-thirty: url(../img/gears.jpg);
$img-head-thirtyone: url(../img/lanterns.jpg);
$img-head-thirtytwo: url(../img/neon.jpg);


$images: (
  head-one: $img-head-one,
  head-two: $img-head-two,
  head-three: $img-head-three,
  head-four: $img-head-four,
  head-five: $img-head-five,
  head-six: $img-head-six,
  head-seven: $img-head-seven,
  head-eight: $img-head-eight,
  head-nine: $img-head-nine,
  head-ten: $img-head-ten,
  head-eleven: $img-head-eleven,
  head-thirty: $img-head-thirty,
  head-thirtyone: $img-head-thirtyone,
  head-thirtytwo: $img-head-thirtytwo
);
