@each $image-name, $image-value in $images {
  .#{$image-name} {
    background-image: #{$image-value};

  }
}


%lists {
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: $color-two;
    }
  }
}
