@each $image-name, $image-value in $images {
  .#{$image-name} {
    background-image: #{$image-value};

  }
}


%lists {
  ul {
    display: flex;
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: $color-two;
        &:hover {
          color: $color-four;
        }
      }
    }

  }
}
