$mediumbreak: 700px;
$largebreak: 1200px;

$color-one: #0074d4;
$color-two: black;
$color-three: white;
$color-four: #002465;
$color-five: #b78f44;
$color-six: #984329;
$color-seven: #542e1f;
$color-eight: #610c24;




$img-main: url(../img/market.jpg);

$images: (
  main: $img-main,
);
